:root {
  --funhumac-blue-lite: #57c2b1;
  --funhumac-blue-mid: #4295b0;
  --funhumac-blue-dark: #3471aa;
  --funhumac-white: #FFFFFF;
  --funhumac-dark: #000000;
}

.bodyHomeGAndV {
  min-height: 500px;
  background-color: var(--funhumac-blue-lite);
  text-align: center;
}

.bodyHomeGAndV h2 {
  color: var(--funhumac-white);
}

.cont-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  margin: 15px 0;
}